/* All Shared CSS - One File for Everything */

/* ============================================
   Main CSS - Common Styles
   ============================================ */

/* DG Kufi Font */
@font-face {
	font-family: 'DG Kufi';
	src: url('../assets/fonts/dg-kufi.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/* Reset and Base Styles */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'DG Kufi', 'Aref Ruqaa', serif;
	direction: rtl;
	background-color: #fafafa;
}

img {
	text-align: center;
	vertical-align: middle;
}

h3 {
	padding-bottom: 0px;
	margin-bottom: 0px;
	vertical-align: middle;
}

/* Shared Form Control - Used in navbar, special-orders, orders */
.form-control {
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 1rem;
	font-family: inherit;
}

/* Shared Container - Used in multiple pages */
.container {
	max-width: 1200px;
	margin: 0 auto;
}
